@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* variable start */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* variables end  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left bottom, rgb(9,9,8), rgb(34,34,34), rgb(9,9,8));
    height: 100vh;
}

/* all link */
a{
    text-decoration: none;
    color: rgb(250,252,255)
    ;
}
.header_cont{
    background: rgb(64,23,12);
    padding: 13px;
}

.support{
    width: 100%;
    height: 15px;
    background: rgb(220,84,38);
}

h1 a{
    font-family:cursive;
    font-weight: lighter;
    color: #a29f9e;
    font-size: 30px;
    line-height: 50px;
}

h1 a span{
    color: rgb(192,45,40);
    font-style: italic;
    font-family:cursive;
    font-size: 40px;
    font-weight: 700;
}


.menu_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    list-style: none;
    font-size: 16px;
}

nav ul li{
    display: inline-block;
    margin: 0 12px;
    font-family:sans-serif;
}

nav ul li a{
    color: rgb(162,159,158);
    font-family:sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}

nav ul li a:hover{
    color: #fcfcfc;
    transition: all 0.5s ease;
}


.link-btn{
    background: rgba(192, 45, 40, 0.911);
    padding: 12px 25px 12px 24px;
    color: #fcfcfcf3;
    border-radius: 30px;
}

.link-btn:hover{
    background: rgba(192, 45, 40);
    transition: all .5s ease;
    color:#fcfcfc;
}

.content_page{
    background-image: url(./Images/bg_hero.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size:  100%;
    color: rgb(230,230,230); 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10% 0;
    height: 85%;
}

.content_page h1{
    font-size: 59px;
    font-weight: 500;
    line-height: 69px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .5);
}

.content_page h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .5);
}

.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
}

.link-btn2{
    background: rgba(192, 45, 40, 0.911);
    padding: 20px 30px;
    color: #fcfcfcf3;
    border-radius: 35px;
    width: 30%;
    font-size: 19px;
    font-family: serif;
}



.link-btn2:hover{
    background: rgba(192, 45, 40);
    transition: all .5s ease;
    color:#fcfcfc;
}

.orange{
    background-color: rgb(201,80,24, 0.911);
}

.orange:hover{
    background: rgba(201,80,24);
}

/* skills */
.skills{
    background-color: rgb(15,15,15);
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.zoom-out:hover{
    animation-name: zoom;
    animation-duration: 1.5s;
}

@keyframes zoom{
    25%{
        transform: scale(1.5);
    }
}

/* description */
.description{
    background: rgb(8,64,120);
    height: 100%;
    padding-top: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
}

.desTitle{
    color: #fcfcfcf3;
    font-weight: 500;
    font-size: 28px;
}

.desTitle a{
    text-decoration: underline;
}

.desTitle a:hover{
    transition: 0.5s;
    color: #fcfcfcc2;
}

.card_container{
    width: 100%;
    padding: 0 80px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    border-radius: 10px;
}

.card{
    padding: 30px 10px;
    box-shadow: rgba(17, 12, 46, 0.15)5px 48px 100px 0px;
    border-radius: 10px;
    background: white;
    text-align: left;
    line-height: 30px;
}

.card div p{
    margin-bottom: 5px;
}

/* storyline */
.storyline_black{
    background: rgb(34,34,34);
    height: 280px;
    text-align: center;
    padding: 40px;
}

.storyline_black h1{
    font-family: sans-serif;
    color: #fcfcfcf3;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
}

.storyline_black p{
    color: #fcfcfcf3;
    margin-top: 22px;
    line-height: 25px;
    font-family: sans-serif;
}


.btn3{
    background: rgb(201,80,24, 0.911);
    padding: 10px 30px;
    color: #fcfcfcf3;
    border-radius: 35px;
    width: 30%;
    font-size: 19px;
    font-family: serif;
    margin-top: 30px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn3:hover{
    background: rgb(201,80,24);
    transition: all 0.5s ease;
}

/* viewers page */
.love-page{
    background-image: url(./Images/love.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: 100%;
    color: rgb(230,230,230); 
    text-align: center;
    font-family: sans-serif;
    padding: 10% 0;
    height: 80%; 
}

.love-page h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfcfcf3;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .5);
}

.bn4{
    border: none;
    outline: none;
    width: 25%;
    background-color: rgba(192, 45, 40);
    padding: 20px 22px;
    border-radius: 43px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fcfcfcf3;
    text-transform: capitalize;
    margin-top: 30px;
}

.bn4:hover{
    background: rgba(192, 45, 40, 0.911);
    transition: 0.5s;
}

/* boot camp */
.boot-page{
    background-image: url(./Images/boot.png);
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    text-align: center;
}

.boot{
    width: 250px;
    margin-top: 35px;
}

.text{
    color: #fcfcfcf3;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.more{
    margin-top: 20px;
}

.more a{
    color: rgb(221,98,94);
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}